.message-panel {
	display: -webkit-flexbox;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80vh;
	background-color: aliceblue;
	position: relative;
	border-radius: 15px 0px 0px 15px;
	width: 19rem;
}

.message-panel-body {
	display: -webkit-flexbox;
	-webkit-overflow-scrolling: touch;

	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	padding: 10px;
}

.message-panel-separator {
	margin: 2.5rem 0;
}

.message-panel-footer {
	display: -webkit-flexbox;

	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0px 15px;
	margin: 1.5rem 0px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.message-input {
	border-radius: 12px;
}

.message-input:focus {
	border-color: #0f4c81;
	box-shadow: none;
}

.message-baloon {
	display: -webkit-flexbox;

	display: flex;
	flex-direction: column;
	padding: 5px;
}

.message-baloon-right {
	align-items: flex-end;
}

.message-baloon-details {
	margin: 5px;
}

.message-baloon-details-h6 {
	font-weight: 300;
	color: #495057;
	font-size: 0.7rem;
	word-wrap: break-word;
}

.message-baloon-body {
	background-color: white;
	border-radius: 10px;
	max-width: 80%;
	padding: 10px;
	width: fit-content;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message-baloon-body-h6 {
	font-weight: 300;
	color: #495057;
	font-size: 0.9rem;
	word-wrap: break-word;
}

.message-baloon-new {
	background-color: #ed6663;
	color: white;
	font-weight: 600;
	border-radius: 30px;
	vertical-align: bottom;
	padding: 0px 8px;
}

.message-send {
	margin: 0px 15px;
}
