.notification-panel {
	display: flex;
	flex-direction: column;
}

.notification-message {
	padding: 5px 10px;
	color: white;
	background-color: #ed6663;
	border-radius: 25px;
	opacity: 1;
	animation: fade 0.7s linear;
	width: fit-content;
	box-shadow: 0 2px 4px 0 #f8f9fa1f, 0 3px 10px 0 #f8f9fa1f;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
